APP_NAME=PAY-LANGGAN.COM
APP_ENV=development
APP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=pay_langgan
DB_SSLMODE=disable

JWT_SECRET=change_this_secret_to_a_random_string
JWT_EXPIRES_IN=24h

MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_CLIENT_KEY=your_midtrans_client_key
MIDTRANS_BASE_URL=https://api.sandbox.midtrans.com
MIDTRANS_MOCK=true
